*{
    margin:0px;
    padding: 0px;
    background-color: whitesmoke;
}
#container{
    margin: 0% 10% 0% 10%;
    height: 1300px;
}
.nav{
    height: 200px;
    display: flex;
    justify-content: space-between;
}
.leaf{
    background-color: darkturquoise;
    border: transparent;
    border-width: 75%;
}

.easybay{
    display: inline-block;
    font-size: 75px;
    font-weight: bold;
}
.search-msg{
    position: absolute;
    top: 50px;
    left: 650px;
    width: 550px;
    height: 50px;
    font-size: 25px;
    color: rgba(128, 128, 128, 0.623);
    border: solid 1px black;
    border-color: black;
    border-width: bold 1px black; 
}
.scope{
    position: absolute;
    top:50px;
    left:1300px;
    height: 50px;
    width: 50px;
}
.sign-in{
    position:relative;
    right:150px;
    top: 50px;
    font-size: 50px;
}
.cart-btn{
    position: absolute;
    top:50px;
    left: 1650px;
    height: 50px;
    width: 50px;
}
#plant-list{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 50px;
    text-decoration: underline;
    /* fix if there is time  */
}
#your-source{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    top: 75px;
    left: 50px;
    width: 100%;
    height: 50px;
    font-size: 50px;
    font-style: italic;
}
#body-1{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    top:0px;
    bottom: 700px;
    left: 0px;
    width: 100%;
    height: 400px;
    font-size: 50px;
    border-color: black;
    border-width: bold 1px black; 
}
.disco-box{
    background-color: turquoise;
    border: solid 1px black;
    border-width: 1px black;
    display: flex;
    position:absolute;
    align-items: flex-start;
    bottom:0px;
    right: 1325px;
    width: 400px;
    height: 400px;
    font-size: 50px;
}
.sent-right{
    display: flex;
    position:absolute;
    background-color: turquoise;
    color: white;
    padding: 20px 20px 0px 20px;
}
.disc-arr{
    background-color: turquoise;
    color: white;
    display: flex;
    position:absolute;
    top: 320px;
}
.arrow{
    display: flex;
    position: absolute;
    top:325px;
    right:100px;
    background-color: turquoise;
}
#hoverimg{
    display: flex;
    position:absolute;
    left:600px;
    top: 600px;
    height: 400px;
}
.aloe-img{
    display: flex;
    position: absolute;
    bottom: 200px;
    left: 1325px;
    width: 400px;
    height: 200px;
}
.aloe-arr{
    background-color: turquoise;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    top: 830px;
    left: 1325px;
    width: 400px;
    height: 150px;
    font-size: 50px;
}
.arr-left{
    background-color: turquoise;

}
#bottom{
    background-color: rgba(0, 128, 128, 0.486);
    display: flex;
    position: relative;
    /* align-items: center; */
    justify-content: space-evenly;
    top: 725px;
    height: 200px;
    width: 100%;
}
