h1{
background-color: black;
color: cyan;
text-align: left;
font-weight: bolder;
font-family: sans-serif;
}

h2{
background-color: rgb(166, 89, 185);
color: whitesmoke;
font-style: italic;
text-align:center;
}
h3{
background-color: skyblue;
color:steelblue;
text-align: right;
text-decoration: underline;
}